#cart-box{
    background: $light;
    z-index: 99;
    margin: 0 auto;
    width: 600px;
    @media (max-width: $small){
        width: 96%;
    }
    .cart-item{
        display: grid;
        grid-template-columns: 2fr 5fr 0.5fr;
        align-items: start;
        margin: 5px;
        border-bottom: 1px dashed #bbb;
        &:last-child{
            border-bottom: none;
        }
        @media (max-width: $small){
            grid-template-columns: 1fr 4fr 0.5fr;
        }
        // first Div
        #product-info{
            height: 100px;
            background: $light;
            #product-image{
                height: 100%;
                max-width: 70%;
                mix-blend-mode: multiply;
                margin: 10px;
                margin-top: 15px;
                @media (max-width: $small){
                    height: 50%;

                }
            }
        }
        // second Div
        #product-details{
            margin: 10px;
            #title{
                font-size: 15px;
                font-weight: 600;
                margin: 5px 0;
                @media (max-width: $small){
                    font-size: 12px;
                }
            }
            #price{
                font-weight: 700;
                margin: 5px 0;
                @media (max-width: $small){
                    font-size: 16px;
                    margin: 8px 0;
                }
            }
            #total{
                @extend #price;
            }
            .order-sum{
                font-size: 16px;
                font-weight: 500;
                color: $dark;
                background:rgb(209, 204, 204);
                padding: 2px 5px;
                margin-right: 15px;
                @media (max-width: $small){
                    font-size: 12px;
                }
            }
            button{
                padding: 5px 10px;
                border: none;
                outline: none;
                font-size: 20px;
                width: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                margin: 4px;
                border-radius: 5px;
                background: rgb(219, 219, 219);
                @media (max-width: $small){
                    font-size: 16px;
                    padding: 2px 5px;
                    margin: 4px 0;
                }
            }
            #quantity{
                font-size: 20px;
                padding: 5px 10px;
                background: $tertiary;
                color: $light;
                margin: 4px;
                border-radius: 4px;
                text-align: center;
                width: 70px;
                display: inline-block;
                font-weight: 700;
                @media (max-width: $small){
                    font-size: 14px;
                    width: 50px;
                    padding: 2px 5px;
                    margin: 8px;
                }
            }
        }
        #trash-icon{
            width: 24px;
            height: 20px;
            align-self: center;
        }
    }
}

#empty-cart{
    height: 300px;
    width: 300px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: $small){
    height: 200px  
    }
    img{
        height: 90%;
        display:block;
        margin: 20px auto;
    }

    a{
        background: $tertiary;
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        margin: 20px auto;
        display: block;
    }
}