@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import './variables';
@import './navbar';
@import './home';
@import './product';
@import './error';
@import './cartbox';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
 }
body{
    background: linear-gradient(140deg, $primary, $secondary, $tertiary) no-repeat;
    min-height: 100vh;
    overflow-y: scroll;
    
}

a{
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}
#header{
    
    display: flex;;
    position: relative;
}